<!DOCTYPE html>
<html lang="en">
<head>
    <title>Citadel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif}
.bckgr {
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}
    </style>
</head>
<body>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Section -->
    <div class="bckgr w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide">THE CITADEL PROJECT</h2>
        <p>&nbsp;</p>
        <p class="w3-opacity"><i>Build. Automate test. Forget</i></p>
        <p class="w3-justify">Hi! This is a running instance of
            <a href="https://github.com/AliakseiKaniaveha/citadel" target="_blank">The Citadel Project</a>. I can
            visualize all the classes I am constructed of. Further description is under construction under construction
            under construction under construction under construction under construction under construction under
            construction
            under construction under construction under construction under construction under construction
            under construction under construction under construction under construction under construction under
            construction
            under construction under construction under construction under construction under construction
            under construction under construction under construction under construction under construction under
            construction
            under construction under construction under construction under construction under construction
        </p>
        <p class="w3-justify"><a id="navigate-to-classes-graph" href="/classesGraph?engine=circo">Show me!</a>
        </p>
    </div>

    <!-- Section -->
    <div class="w3-black w3-opacity-max">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">THE SECOND SECTION</h2>
            <p class="w3-justify">Under construction</p>
        </div>
    </div>

    <!-- Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide w3-center">THE THIRD SECTION</h2>
        <p class="w3-justify">Under construction</p>
    </div>

    <!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-github w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>