<!DOCTYPE html>
<html lang="en">
<head>
    <title>Citadel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif}
    </style>
</head>
<body>
<div class="w3-content" style="max-width:2000px">
    <div class="w3-container w3-content w3-center" style="max-width:800px">
        <img id="logo" src="img/logo.png"/>
        <h2 class="w3-wide">THE CITADEL PROJECT</h2>
        <p class="w3-opacity"><i>Build. Fortify. Rest assured - it works!</i></p>
        <p class="w3-justify">Hi! I am a running instance of
            <a href="https://github.com/AliakseiKaniaveha/citadel" target="_blank">The Citadel Project</a>.
            For the moment I can visualize all the classes I am constructed of and how they are interlinked -
            <a id="navigate-to-classes-graph" href="/classesGraph?engine=circo">check it out</a>.
        </p>
        <p class="w3-justify">
            I also have some plans for further growth. In the future I will be able to visualize classes of any
            application - all I'll need is just a jar file. Then I'd like to be able to show how differently various
            type of tests affects application classes graph.
        </p>
        <p class="w3-justify">
            But anyway that's not the point. <b>The point is</b> - I am an educational project which states that
            software properly guarded by automated tests is a considerably more sustainable and superior kind than
            software which lacks them. I can adopt any changes and have new features released to production
            <a href="https://github.com/AliakseiKaniaveha/citadel/blob/master/README.md#release-safely" target="_blank">safely</a>
            and <a href="https://github.com/AliakseiKaniaveha/citadel/blob/master/README.md#release-quickly" target="_blank">quickly</a>,
            I'm always in a
            <a href="https://github.com/AliakseiKaniaveha/citadel/blob/master/README.md#develop-efficiently" target="_blank">working
                state</a> (no matter whether it is production or development) and anyone can start contributing in
            <a href="https://github.com/AliakseiKaniaveha/citadel/blob/master/README.md#get-started" target="_blank">less than 5
                minutes</a>. My mission is to give it a taste of what it's like to develop software in that manner and
            my hope is that after that anyone tried it will consider this way to develop software as a de-facto standard
            and will bring this experience to their production projects. Briefly that's it,
            <a href="https://github.com/AliakseiKaniaveha/citadel/blob/master/README.md" target="_blank">check out</a>
            details on how to get there are.
        </p>
    </div>
</div>

</body>
</html>